<!-- Main Content -->
<!-- <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
    </div>
  </main> -->
  <html>
    <%- include partials/header.ejs %>
        <%- include partials/main_nav.ejs %>
    
            <head>
                <title>Bootstrap Example</title>
                <meta charset="utf-8">
    
            </head>
    
            <body>
                <div class="jumbotron">
                    <div style="display: flex;justify-content: space-between;">
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="/assets/images/APPL.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">APPL</h5>
                                <p class="card-text">This project is regarding Web Development and creating platform to advertise machinery over worldwide. It forecast the Industries is pioneer and front runner as a Manufacturer & Exporter of wide range of "Plastic Extrusion Plant & Rope Making Machineries" in India </p>
                                <a href="https://www.akiropes.com" target="_blank" ></a><button class="button button5">More Detail</button></a>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="/assets/images/Avadh.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Avadh Group</h5>
                                <p class="card-text">Avadh is syndicate of construction and provide platform for newbie in various faculty likewise Automation, Diamond Industry,and Information Technology.</p>
                                <a href="http://www.avadhprojects.com/indexs.php" target="_blank" ></a><button class="button button5">More Detail</button></a>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="/assets/images/Printer.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Microplast 3d printer</h5>
                                <p class="card-text">Microplast company is manufacturing 3d printer for replacing the machinery dye to overcome manufacturing cost and convenient and efficient output.
                                </p>
                                <a href="https://www.mosaicmfg.com" target="_blank"><button class="button button5">More Detail</button></a>
                            </div>
                        </div>
                        
                    </div>
                   
                </div>
            </body>
    
    </html>
    
    
    <%- include partials/bottom_nav.ejs %>
    
        <%- include partials/footer.ejs %>